// Here you can add other styles
.c-main {
  background-color: #F8F9FC !important;
}

.c-sidebar .c-sidebar-minimizer:hover::before {
  background-image: url("../public/cropped-lazzaweb-favicon-32x32.png");
  background-size: 30px 30px;
}

.c-sidebar .c-sidebar-minimizer::before {
  background-image: url("../public/cropped-lazzaweb-favicon-32x32.png");
  background-size: 30px 30px;
}

@media (min-width: 992px) {
  .c-sidebar-minimized .c-sidebar-minimizer::before {
    transform: rotate(-360deg) !important;
  }
}

.c-sidebar-nav {
  background-color: #0B6A90 !important;
}

@media (hover: hover), not all {
  .c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: #0E8EAC;
  }
}

.vm2__header {
  font-family: "Sofia Pro Light";
}

.vm2__green, .vm2__btn, .vm2__green:focus, vm2__btn:focus, .vm2__green:active, vm2__btn:active {
  outline: none !important;
  box-shadow: none !important;
  font-family: "Sofia Pro Regular";
  color: white;
}

.vm2__green:hover, .vm2__btn:hover {
  color: lightgray;
}