 //Here you can add other styles

.c-sidebar .c-sidebar-minimizer:hover::before {
  background-image: url("../public/cropped-lazzaweb-favicon-32x32.png");
  background-size: 30px 30px;
}

.c-sidebar .c-sidebar-minimizer::before {
  background-image: url("../public/cropped-lazzaweb-favicon-32x32.png");
  background-size: 30px 30px;
}

@media (min-width: 992px) {
  .c-sidebar-minimized .c-sidebar-minimizer::before {
    transform: rotate(-360deg) !important;
  }
}

.c-sidebar-nav {
  background-color: #0b6a90!important;
}

@media (hover: hover), not all {
  .c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: #3BB5C8 !important;
  }
}

.nav-dropdown-toggle{
  background-color: black;
}

.c-header .c-subheader {
  margin-top: 0px;
}

.c-footer {
  margin-bottom: 1px;
  background-color: white !important;
}

.c-footer a {
  color: #394455 !important
}

.c-body {
  background-color: white !important;
}